@model Ecommerce_Definitivo.Models.venda

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>venda</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.dataVenda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dataVenda)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vlrTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vlrTotal)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.vendaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
