@model Ecommerce_Definitivo.Models.conta

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>conta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

      
        <dt>
           Nome
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>

        <dt>
            CPF
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cpf)
        </dd>

        <dt>
            Imagem
        </dt>

        <dd>

            <img src="@Url.Action("UserPhotos", "contas" )" class="ImagemProfile" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.contaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
